.contents
  .contents__side-content
    .contents__side-content__user
      %h5
        = current_user.name
      .contents__side-content__user__icons
        %a.contents__side-content__user__icons--pencil{ href: new_group_path }
          %i.fa.fa-pencil-square-o
        %a.contents__side-content__user__icons--gear{ href: edit_user_registration_path }
          %i.fa.fa-cog
    .contents__side-content__group
      .contents__side-content__chat-group
        %p.contents__side-content__chat-group__name sample
        %p.contents__side-content__chat-group__message Good by world!


  .contents__main-content
    .contents__main-content__group
      .contents__main-content__group__left
        %h2 sample
        %p Memcers: seo neko
      .contents__main-content__group__right
        %a{ type: "submit"}Edit

    .contents__main-content__chat
      %ul.contents__main-content__chat__messages
        %li.contents__main-content__chat__messages__message
          .contents__main-content__chat__messages__message__message-hedder
            %p.contents__main-content__chat__messages__message__message-hedder__name sample
            %p.contents__main-content__chat__messages__message__message-hedder__time 2016/09/21 06:16:55
          %p.contents__main-content__chat__messages__message__message-body Hellow world!
        %li.contents__main-content__chat__messages__message
          .contents__main-content__chat__messages__message__message-hedder
            %p.contents__main-content__chat__messages__message__message-hedder__name neko
            %p.contents__main-content__chat__messages__message__message-hedder__time 2016/09/21 06:16:55
          %p.contents__main-content__chat__messages__message__message-body Good by world!

    .contents__main-content__footer
      %form.contents__main-content__footer__new_message{id: "new_message", enctype: "multipart/form-data", method:"post"}
        .contents__main-content__footer__new_message__body
          %textarea{row: "1", placeholder: "type a message", name: "message[body]", id: "message_body"}
          %label.contents__main-content__footer__new_message__file
            %input{ type: "file", name: "message[image]", id: "message_image" }
            %i.fa.fa-image
        %input{type: "submit", name: "commit", value: "Send" }
