.alert-notice {
  background-color: $mainBlue;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.alert-error {
  background-color: #d65f4c;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}
