@import "user";
@import "group";
@import "clearfix";
@import "./config/color";
@import "./config/parts";
@import "./reset";
@import "font-awesome";
@import "alert";

.contents {
  &__side-content {
    float: left;
    min-height: 800px;
    width: 300px;
    background-color: #2f3e51;
    &__user {
      @include clearfix();
      background-color: #253141;
      padding: 20px;
      h5 {
        float: left;
        font-size: 16px;
        font-weight: bold;
        color: $sideContentText;
        line-height: 60px;
      }
      &__icons{
        float: right;
        a {
          display: inline-block;
          margin: 15px 0 15px 3px;
          line-height: 28px;
          color: #fff;
          font-size: 20px;
        }
      }
    }
    &__chat-group {
      padding: 20px;
      color: $sideContentText;
      &__name{
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        padding-top: 5px;
      }
    }
  }

  &__main-content{
    float: left;
    position: relative;
    width: calc(100% - 300px);
    height: 800px;
    &__group {
      @include clearfix();
      padding-right: 40px;
      padding-left: 40px;
      border-bottom: 1px solid #eee;
      &__left{
      float: left;
        h2{
        margin-top: 20px;
        font-size: 20px;
        line-height: 50px;
        color: #333333;
        }
        p{
          font-size: 12px;
          color: #999999;
        }
      }
       &__right{
        float: right;
        a{
          display: inline-block;
          margin: 28px 0;
          padding: 0 20px;
          line-height: 40px;
          color: $mainBlue;
          font-size: 14px;
          border: 2px solid;
        }
      }
    }

    &__chat{
      position: relative;
      padding: 30px 40px;
      &__messages{
        margin: 16px 0;
        &__message{
          margin-bottom: 40px;
          &__message-hedder{
            @include clearfix();
            &__name{
              float: left;
              font-size: 16px;
              font-weight: bold;
              color: $chatText;
              margin-bottom: 10px;
            }
            &__time{
              float: left;
              margin-left: 10px;
              font-size: 12px;
              color: #999999
            }
          }
          &__message-body{
            font-size: 14px;
            color: $chatText;
          }
        }
      }
    }

    &__footer{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px 40px;
      background-color: #ddd;
      &__new_message {
        box-sizing: border-box;
        &__body{
          float: left;
          width: calc(100% - 135px);
          height: 50px;
          position: relative;
          textarea{
            width: 100%;
            height: 50px;
            padding: 0 10px;
            line-height: 50px;
            border: none;
            resize: none;
            display: block;
          }
          label{
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            line-height: 50px;
            text-align: center;
            cursor: pointer;
            input{
              display: none;
            }
          }
        }
        input{
          float: right;
          display: inline-block;
          width: 100px;
          margin-left: 15px;
          line-height: 50px;
          color: #fff;
          background-color: $mainBlue;
          text-align: center;
          border: none;
          padding: 0;
        }
      }
    }
  }
}
